<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="bootstrap/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" extensionsDirectory="tools/phpunit.d/" forceCoversAnnotation="false" processIsolation="false" stopOnError="true" stopOnFailure="true" stopOnIncomplete="false" stopOnRisky="false" stopOnSkipped="false" timeoutForLargeTests="60" timeoutForMediumTests="10" timeoutForSmallTests="1" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <report>
      <clover outputFile="coverage.xml"/>
      <html outputDirectory="./build/logs/coverage"/>
    </report>
  </coverage>
  <testsuite name="all">
    <directory suffix="Test.php">tests/unit</directory>
  </testsuite>
  <logging/>
</phpunit>
